version: '3.8'

services:
  traefik:
    image: traefik:v2.10
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./dynamic_conf.yml:/etc/traefik/dynamic_conf.yml"
    networks:
      - microservices-overlay
    labels:
      - "traefik.enable=true"

networks:
  microservices-overlay:
    external: true
    name: microservices-overlay
